<div class="card">
    <div class="card-body">
        <h2 class="card-title">Agregar autor</h2>
        <div class="card-text">
            <form (ngSubmit)="onSubmit();" [formGroup]="form">
                <div class="form-group">
                    Nombre:
                    <input formControlName="name" class="form-control" type="text">
                </div>
                <div class="form-group">
                    Edad:
                    <input formControlName="age" class="form-control" type="number">
                </div>
                <button class="btn btn-block btn-primary" [disabled]="!form.valid" type="submit">Agregar</button>
            </form>
        </div>
    </div>
</div>