<div class="card">
    <div class="card-body">
        <h2 class="card-title">Agregar autor</h2>
        <div class="card-text">
            <form>
                <div class="form-group">
                    Nombre:
                    <input class="form-control" type="text">
                </div>
                <div class="form-group">
                    Edad:
                    <input class="form-control" type="number">
                </div>
            </form>
        </div>
    </div>
</div>